
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCaracteristiqueLabel" data-translate="epressingApp.caracteristique.home.createOrEditLabel">Create or edit a Caracteristique</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.caracteristique.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.caracteristique.id" readonly />
        </div>
        <div class="row">
            <div class="col-md-5">
        <div class="form-group">
            <label class="control-label" data-translate="epressingApp.caracteristique.couleur" for="field_couleur">Couleur</label>
            <input type="text" class="form-control" name="couleur" id="field_couleur"
                    ng-model="vm.caracteristique.couleur"
                    required/>
            <div ng-show="editForm.couleur.$invalid">
                <p class="help-block"
                    ng-show="editForm.couleur.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
            </div>
            <div class="col-md-5">
        <div class="form-group">
            <label class="control-label" data-translate="epressingApp.caracteristique.marque" for="field_marque">Marque</label>
            <input type="text" class="form-control" name="marque" id="field_marque"
                    ng-model="vm.caracteristique.marque"
                    required/>
            <div ng-show="editForm.marque.$invalid">
                <p class="help-block"
                    ng-show="editForm.marque.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        </div>
        </div>
       <div class="row">
            <div class="col-md-10">
        <div class="form-group">
            <label class="control-label" data-translate="epressingApp.caracteristique.libelle" for="field_libelle">Libelle</label>
            <input type="text" class="form-control" name="libelle" id="field_libelle"
                    ng-model="vm.caracteristique.libelle"
                    />
        </div>
        </div>
       </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
