<div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3" data-translate="epressingApp.commande.home.createOrEditLabel">Create or edit a Commande </h1>
    <span data-translate="epressingApp.commande.netAPayer">Net A Payer </span>
    <span>{{vm.commande.netAPayer}} CAD</span>
</div>
<div>
<hr>    
    <form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>          
        <div class="container">
            <div class="col-sm-12">
                <div class="row">    
                    <div class="col-sm-12 col-xs-12">    
                        <jhi-alert-error></jhi-alert-error>
                    </div>
                </div>
         </div>
        <br/>
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group" ng-show="vm.commande.id">
                <label for="id" data-translate="global.field.id">ID</label>
                <input type="text" class="form-control" id="id" name="id"
                        ng-model="vm.commande.id" readonly />
            </div> 
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                    <label class="control-label" data-translate="epressingApp.commande.dateCommande" for="field_dateCommande">Date Commande</label>
                        <div class="input-group">
                            <input id="field_dateCommande" type="text" class="form-control" name="dateCommande" datetime-picker="{{dateformat}}" ng-model="vm.commande.dateCommande" is-open="vm.datePickerOpenStatus.dateCommande"
                            disabled />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateCommande')" disabled ><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label" data-translate="epressingApp.commande.dateCueillette" for="field_dateCueillette">Date Cueillette</label>
                            <div class="input-group">
                                <input id="field_dateCueillette" type="text" class="form-control" name="dateCueillette" datetime-picker="{{dateformat}}" ng-model="vm.commande.dateCueillette" is-open="vm.datePickerOpenStatus.dateCueillette"
                                required/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateCueillette')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        <div ng-show="editForm.dateCueillette.$invalid">
                            <p class="help-block"
                                ng-show="editForm.dateCueillette.$error.required" data-translate="entity.validation.required">
                                This field is required.
                            </p>
                            <p class="help-block"
                                ng-show="editForm.dateCueillette.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                                This field should be a date and time.
                            </p>
                        </div>
                    </div>
                </div>     
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label" data-translate="epressingApp.commande.dateLivraison" for="field_dateLivraison">Date Livraison</label>
                            <div class="input-group">
                                <input id="field_dateLivraison" type="text" class="form-control" name="dateLivraison" datetime-picker="{{dateformat}}" ng-model="vm.commande.dateLivraison" is-open="vm.datePickerOpenStatus.dateLivraison"
                                required/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateLivraison')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        <div ng-show="editForm.dateLivraison.$invalid">
                            <p class="help-block"
                                ng-show="editForm.dateLivraison.$error.required" data-translate="entity.validation.required">
                                This field is required.
                            </p>
                            <p class="help-block"
                                ng-show="editForm.dateLivraison.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                                This field should be a date and time.
                            </p>
                        </div>
                    </div>
                </div>       
            </div>
            
            <div class="row" >
                <div class="col-md-4" >
                    <div class="form-group">
                        <label class="control-label" data-translate="epressingApp.commande.etat" for="field_etat">Etat</label>
                        <input type="text" class="form-control" name="etat" id="field_etat"
                                ng-model="vm.commande.etat" disabled
                                />
                    </div>
                </div>
                <div class="col-md-4" >
                    <div class="form-group">
                        <label class="control-label" data-translate="epressingApp.commande.adresseCueillette" for="field_adresseCueillette">Adresse Cueillette</label>
                        <input type="text" class="form-control" name="adresseCueillette" id="field_adresseCueillette"
                                ng-model="vm.commande.adresseCueillette"
                                required/>
                        <div ng-show="editForm.adresseCueillette.$invalid">
                            <p class="help-block"
                                ng-show="editForm.adresseCueillette.$error.required" data-translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" >
                    <div class="form-group">
                        <label class="control-label" data-translate="epressingApp.commande.adresseLivraison" for="field_adresseLivraison">Adresse Livraison</label>
                        <input type="text" class="form-control" name="adresseLivraison" id="field_adresseLivraison"
                                ng-model="vm.commande.adresseLivraison"
                                required/>
                        <div ng-show="editForm.adresseLivraison.$invalid">
                            <p class="help-block"
                                ng-show="editForm.adresseLivraison.$error.required" data-translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div>
                <h2 data-translate="epressingApp.cart.title">Pannier</h2>
                <jhi-alert></jhi-alert>
                <br/>
                <div class="table-responsive">
                    <table class="jh-table table table-bordered">
                        <thead>
                            <tr class="btn-info" >                    
                                <th><span data-translate="epressingApp.cart.produit">Produit</span> </th>
                                <th><span data-translate="epressingApp.cart.caracteristique.marque">Marque</span></th>
                                <th><span data-translate="epressingApp.cart.caracteristique.couleur">Couleur</span></th>
                                <th><span data-translate="epressingApp.cart.operation">Operation</span></th>
                                <th><span data-translate="epressingApp.cart.tarif">Tarif</span></th>
                            </tr>
                        </thead>
                        <tbody> 
                            <tr ng-repeat="ligneCommande in vm.ligneCommandes track by $index ">
                                <td>{{ligneCommande.produit.libelle}}</td>
                                <td>{{ligneCommande.caracteristique.marque}}</td>
                                <td>{{ligneCommande.caracteristique.couleur}}</td>
                                <td>{{ligneCommande.operation.libelle}}</td>
                                <td>{{ligneCommande.tarif}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>               
                <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
                </button>
            </div>
            </div>
        </div>    
    </form>
</div>