<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3"><i class="fa fa-shopping-basket" aria-hidden="true"></i> 
        <span data-translate="epressingApp.produit.home.title">Produits</span></h1>
</div>
<div class="col-sm-12">
    <div class="row">    
        <div class="col-sm-12 col-xs-12" style="margin-top: 15px;">    
            <jhi-alert></jhi-alert>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="wrapper-md bg-white-only b-b">
        <div  class="row">
            <div class="col-sm-3 col-xs-3">
                <button has-authority="ROLE_ADMIN"  class="btn btn-sm btn-primary" ui-sref="produit.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="epressingApp.produit.home.createLabel">
                        Create new Produit
                    </span>
                </button>
            </div>
            <div class="col-sm-6">
            </div>
            <div class=" col-sm-3 col-xs-3">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="input-sm form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'epressingApp.produit.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-sm btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-sm btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row" >
            <div class="col-xs-6 col-md-3" ng-repeat="produitDTO in vm.produits track by produitDTO.produit.id">                
                    <div class="thumbnail">
                    <a ui-sref="produit-detail({id:produitDTO.produit.id})">
                        <div class="text-center">
                            <img height="150" width="320" data-ng-src="{{'data:' + produitDTO.produit.photoContentType + ';base64,' + produitDTO.produit.photo}}" class="img-shop">
                        </div>
                    </a>
                
                    <span class="clear"></span>
                    <div class="panel-footer bg-primary">          
                        <span class="text-lt"> {{produitDTO.produit.categorie.libelle}} - {{produitDTO.produit.libelle}} </span>
                        <button has-authority="ROLE_ADMIN" type="submit" ui-sref="produit.edit({id:produitDTO.produit.id})" class="btn btn-xs btn-primary pull-right">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </div>
                    </div>
            </div>
            </div>
        
        <div class="row wrapper">
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4 hidden-xs">              
                        </div>
                        <div class="col-sm-4 text-center">
                            <jhi-item-count class="text-muted inline m-t-sm m-b-sm" page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                        </div>
                        <div class="col-sm-4 text-right text-center-xs">                
                            <uib-pagination class="pagination-sm  m-t-none m-b-none" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                        </div>
                    </div>
                </footer>
            
        </div>

    </div>
</div>