
<div>
    <h2><span data-translate="epressingApp.produit.detail.title">Produit</span> {{vm.produit.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <div class="col-md-6">
    <table class="table table-bordered">
        <tr>
            <td>
                <span data-translate="epressingApp.produit.photo">Photo</span>            
                <div ng-if="vm.produit.photo">
                <a ng-click="vm.openFile(vm.produit.photoContentType, vm.produit.photo)">
                    <img data-ng-src="{{'data:' + vm.produit.photoContentType + ';base64,' + vm.produit.photo}}" style="max-width: 50%;"/>
                </a>
                </div>
            </td>
        </tr>
    </table>    
        </div>
        <div class="col-md-4">
    <table class="table table-condensed">
        <tr>
            <td><span data-translate="epressingApp.produit.libelle">Libelle</span></td>
            <td><span>{{vm.produit.libelle}}</span></td>
        </tr>
        <tr>
            <td>
                <span data-translate="epressingApp.produit.categorie">Categorie</span>
            </td>
            <td>
                <a ui-sref="categorie-detail({id:vm.produit.categorie.id})">{{vm.produit.categorie.libelle}}</a>
            </td>
        </tr>        
    </table>
        </div>
        
    </div>
    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="produit-detail.edit({id:vm.produit.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
