<div>
    <h2 data-translate="epressingApp.ligneCommande.home.title">Ligne Commandes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="ligne-commande.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="epressingApp.ligneCommande.home.createLabel">
                        Create new Ligne Commande
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'epressingApp.ligneCommande.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quantite"><span data-translate="epressingApp.ligneCommande.quantite">Quantite</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="etat"><span data-translate="epressingApp.ligneCommande.etat">Etat</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="produit.id"><span data-translate="epressingApp.ligneCommande.produit">Produit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="commande.id"><span data-translate="epressingApp.ligneCommande.commande">Commande</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="operation.id"><span data-translate="epressingApp.ligneCommande.operation">Operation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="caracteristique.id"><span data-translate="epressingApp.ligneCommande.caracteristique">Caracteristique</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ligneCommande in vm.ligneCommandes track by ligneCommande.id">
                    <td><a ui-sref="ligne-commande-detail({id:ligneCommande.id})">{{ligneCommande.id}}</a></td>
                    <td>{{ligneCommande.quantite}}</td>
                    <td>{{ligneCommande.etat}}</td>
                    <td>
                        <a ui-sref="produit-detail({id:ligneCommande.produit.id})">{{ligneCommande.produit.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="commande-detail({id:ligneCommande.commande.id})">{{ligneCommande.commande.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="operation-detail({id:ligneCommande.operation.id})">{{ligneCommande.operation.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="caracteristique-detail({id:ligneCommande.caracteristique.id})">{{ligneCommande.caracteristique.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="ligne-commande-detail({id:ligneCommande.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ligne-commande.edit({id:ligneCommande.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ligne-commande.delete({id:ligneCommande.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
